* {
  margin: 0;
  padding: 0;
}
.container {
  height: 689px;
  width: 100%;
  padding-left: 2%;
  padding-top: 10px;
  background: linear-gradient(to bottom, aqua, green);
}
.upper {
  width: 98%;
  height: 200px;
}

.bird1 {
  transform-origin: bottom right;  /* pivot point */
  animation: wing1 1s linear infinite;
  width: 50px;
  height: 50px;
  border-top-right-radius: 100%;
  border: 2px solid black;
  border-bottom: none;
  border-left: none;
}
.bird2 {
   transform-origin: top left;  
  animation: wing2 1s linear infinite;
  width: 50px;
  height: 50px;
  border-top-right-radius: 100%;
  border: 2px solid black;
  border-bottom: none;
  border-left: none;
  margin-top: px;
  margin-left: 49px;
}
.first {
    position:relative;
    z-index: 1;
  margin-left: 200px;
  animation: birds 5s infinite;
}
.sec {
    position:relative;
     z-index: 1;
  margin-left: 450px;
  animation: birds1 5s infinite;
}
.third {
    position:relative;
     z-index: 1;
  margin-left: 700px;
  margin-top: -200px;
  animation: birds2 5s infinite;
}
.fourth {
    position:relative;
     z-index: 1;
  margin-left: 900px;
  animation: birds3 5s infinite;
}
.fifth {
    position:relative;
     z-index: 1;
  margin-left: 1200px;
  margin-top: -300px;
  animation: birds4 5s infinite;
}
.sun {
  padding: 10px;
  height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgb(140, 140, 41, 0.9);
}
.lower {
  height: 300px;
  width: 98%;
  display: flex;
}
.mount1 {
  z-index: 1;
  margin-left: -2vw;
  height: 0px;
  width: 0px;
  border-left: 0vw solid transparent;
  border-right: 20vw solid transparent;
  border-bottom: 50vh rgb(177, 163, 163) solid;
}
.mount2 {
  margin-left: -20vw;
  margin-top: 8vh;
  height: 0px;
  width: 0px;
  border-left: 20vw solid transparent;
  border-right: 30vw solid transparent;
  border-bottom: 42vh rgb(119, 100, 100) solid;
}
.mount3 {
  z-index: 2;
  margin-left: -20vw;
  margin-top: 2vh;
  height: 0px;
  width: 0px;
  border-left: 30vw solid transparent;
  border-right: 20vw solid transparent;
  border-bottom: 48vh rgb(183, 173, 173) solid;
}
.mount4 {
  margin-left: -24vw;
  margin-top: 10vh;
  height: 0px;
  width: 0px;
  border-left: 20vw solid transparent;
  border-right: 25vw solid transparent;
  border-bottom: 40vh rgb(62, 53, 53) solid;
}
.mount5 {
  z-index: 1;
  margin-left: -19.5%;
  height: 0px;
  width: 0px;
  border-left: 20vw solid transparent;
  border-right: 0vw solid transparent;
  border-bottom: 50vh rgb(177, 163, 163) solid;
}
@keyframes birds {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-200px);
  }
}
@keyframes birds1 {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-200px);
  }
}
@keyframes birds2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-400px);
  }
}
@keyframes birds3 {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-150px);
  }
}
  

@keyframes wing1 {
  from { transform: rotate(45deg); }
  to { transform: rotate(-45deg); }
}
@keyframes wing2 {
  from { transform: rotate(-45deg); }
  to { transform: rotate(45deg); }
}
.cloud {
    display: flex;
    align-items: center;
    animation: clouds 5s infinite;
}
.cloud1 {
    display: flex;
    align-items: center;
    margin-top: -300px;
    margin-left: 500px;
    animation: clouds 10s infinite;
}
.cloud2 {
    display: flex;
    align-items: center;
    margin-left: 1000px;
    animation: clouds1 8s infinite;
}
.cir1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(233, 225, 210);
}
.cir2{
     height: 200px;
    width: 300px;
    margin-left:-60px;
    border-radius: 50%;
    background-color: rgb(233, 225, 210);
}
.cir3{
    height: 100px;
    width: 100px;  
    margin-left: -60px;
    border-radius: 50%;
    background-color: rgb(233, 225, 210);
}
@keyframes clouds {
    0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(200px);
  } 
}
@keyframes clouds1 {
    0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-200px);
  } 
}

